@include largeScreen {
  .projects-grid {
    grid-template-areas:
      "top top top"
      "proj-1 proj-2 proj-3"
      "proj-4 .       .     ";
  }
}
@include mediumScreen {
  .index-grid {
    justify-content: center;
  }
  .about-grid {
    grid-template-areas:
      "heading"
      "picture"
      "bio"
      "job-1"
      "job-2"
      "job-3";
    grid-template-columns: 1fr;
    h1,
    h2 {
      text-align: center;
    }
  }
  .menu {
    grid-template-areas:
      "top"
      "bottom";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .my-photo {
      grid-area: top;
      transform: translateX(100%);
      @include myTransition;

      &.show {
        transform: translateX(0);
      }
      img {
        width: 200px;
        height: 200px;
      }
    }
    .nav-menu {
      grid-area: bottom;
      transform: translateX(-100%);
      @include myTransition;

      &.show {
        transform: translateX(0);
      }
    }
  }
  .projects-grid {
    grid-template-areas:
      "top top"
      "proj-1 proj-2"
      "proj-3 proj-4";
  }
  .contact-grid {
    justify-content: center;
    text-align: center;
  }
}

@include smallScreen {
  .about-grid {
    margin: 3rem;
  }
  .projects-grid {
    grid-template-areas:
      "top"
      "proj-1"
      "proj-2"
      "proj-3"
      "proj-4";
    justify-content: center;
    text-align: center;
    margin: 2rem;
  }
  .contact-grid {
    justify-content: center;
    text-align: center;
    .box {
      padding: 1.5rem;
      font-size: 1.2rem;
    }
  }
  .grid {
    justify-content: center;
  }
  h1 {
    font-size: 4rem;
  }
}
